In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
from tensorflow import keras

In [2]:
df=pd.read_csv('F:/deep learning/code basic/Churn_Modelling 1.csv')

In [3]:
df1=df.drop (['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
df1.dtypes

CreditScore          int64
Geography           object
Gender               int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [5]:
df1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df2= pd.get_dummies(df1['Geography'])

In [7]:
df3= pd.concat([df1,df2],axis=1)

In [8]:
df3

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [9]:
df4=df3.drop(['Geography'],axis=1)

In [10]:
df4

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [11]:
colu_to_scaled=['CreditScore','Age','Tenure','EstimatedSalary','Balance']
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df4[colu_to_scaled]=scaler.fit_transform(df4[colu_to_scaled])

In [12]:
x=df4.drop(['Exited'],axis=1)
y=df4['Exited']

In [13]:
from sklearn.metrics import confusion_matrix,classification_report

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)

In [15]:
def ANN (x_train,y_train,x_test,y_test,loss):
    

    model=keras.Sequential([
        keras.layers.Dense(40,input_shape=(12,),activation='relu'),
    
        keras.layers.Dense(40,activation='relu'),
        keras.layers.Dense(1,activation='sigmoid')])
    model.compile(
                 optimizer='adam',
                 loss='binary_crossentropy',
                metrics=['accuracy'])
    model.fit(x_train,y_train,epochs=50)
    
    y_pred=model.predict(x_test)
    y_pred=np.round(y_pred)
    print ("classification report: \n", classification_report(y_test,y_pred))
                                                              
    return y_pred

In [16]:
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
282/282 [==============================] - 0s 1ms/step - loss: 0.4713 - accuracy: 0.7983
Epoch 2/50
282/282 [==============================] - 0s 1ms/step - loss: 0.4229 - accuracy: 0.8164
Epoch 3/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3928 - accuracy: 0.8300
Epoch 4/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3734 - accuracy: 0.8386
Epoch 5/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3646 - accuracy: 0.8466
Epoch 6/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3584 - accuracy: 0.8487
Epoch 7/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8524
Epoch 8/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8528
Epoch 9/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8537
Epoch 10/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8561
Epoch 11/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8587
Epoch 12/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8606
Epoch 13/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8613
Epoch 14/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8580
Epoch 15/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8599
Epoch 16/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8611
Epoch 17/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8616
Epoch 18/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8617
Epoch 19/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8619
Epoch 20/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8608
Epoch 21/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8621
Epoch 22/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8637
Epoch 23/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3312 - accuracy: 0.8617
Epoch 24/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8633
Epoch 25/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8621
Epoch 26/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3275 - accuracy: 0.8648
Epoch 27/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8622
Epoch 28/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8649
Epoch 29/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3276 - accuracy: 0.8657
Epoch 30/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8642
Epoch 31/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3260 - accuracy: 0.8649
Epoch 32/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8643
Epoch 33/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3264 - accuracy: 0.8650
Epoch 34/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8651
Epoch 35/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8639
Epoch 36/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8621
Epoch 37/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3236 - accuracy: 0.8633
Epoch 38/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8631
Epoch 39/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3232 - accuracy: 0.8669
Epoch 40/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3224 - accuracy: 0.8664
Epoch 41/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3231 - accuracy: 0.8649
Epoch 42/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3216 - accuracy: 0.8661
Epoch 43/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3209 - accuracy: 0.8658
Epoch 44/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3220 - accuracy: 0.8654
Epoch 45/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3212 - accuracy: 0.8653
Epoch 46/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3205 - accuracy: 0.8644
Epoch 47/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3195 - accuracy: 0.8667
Epoch 48/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3191 - accuracy: 0.8683
Epoch 49/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3199 - accuracy: 0.8684
Epoch 50/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3187 - accuracy: 0.8683
classification report:
               precision    recall  f1-score   support

           0       0.88      0.96      0.91       789
           1       0.76      0.49      0.59       211

    accuracy                           0.86      1000
   macro avg       0.82      0.72      0.75      1000
weighted avg       0.85      0.86      0.85      1000

In [17]:
df4['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [18]:
count_value_0,count_value_1=df4['Exited'].value_counts()

In [19]:

df_class_0= df4[df4['Exited']==0]
df_class_1=df4[df4['Exited']==1]

In [20]:
df_class_under_0= df_class_0.sample(count_value_1)

In [21]:
df_test_under=pd.concat([df_class_under_0,df_class_1],axis=0)

In [22]:
df_test_under

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
854,0.650,0,0.527027,0.8,0.000000,2,0,1,0.477304,0,1,0,0
8297,0.468,0,0.229730,0.2,0.455648,2,0,0,0.079745,0,1,0,0
6196,0.696,1,0.148649,0.5,0.379308,1,1,1,0.763631,0,1,0,0
6903,0.468,0,0.310811,0.3,0.353111,1,1,0,0.895017,0,0,1,0
4035,0.838,0,0.270270,0.2,0.000000,2,0,0,0.377872,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9981,0.296,1,0.324324,0.3,0.605982,1,1,1,0.267193,1,0,1,0
9982,0.610,0,0.378378,0.7,0.546617,1,1,0,0.575729,1,0,1,0
9991,0.494,0,0.472973,0.4,0.352259,1,1,0,0.346899,1,1,0,0
9997,0.718,0,0.243243,0.7,0.000000,1,0,1,0.210390,1,1,0,0
9998,0.844,1,0.324324,0.3,0.299226,2,1,0,0.464429,1,0,1,0

In [23]:
x=df_test_under.drop(['Exited'],axis='columns')
y=df_test_under['Exited']

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)

In [25]:
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
115/115 [==============================] - 0s 1ms/step - loss: 0.6455 - accuracy: 0.6397
Epoch 2/50
115/115 [==============================] - 0s 1ms/step - loss: 0.6003 - accuracy: 0.6819
Epoch 3/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5762 - accuracy: 0.7027
Epoch 4/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5554 - accuracy: 0.7103
Epoch 5/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5357 - accuracy: 0.7335
Epoch 6/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7390
Epoch 7/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5110 - accuracy: 0.7531
Epoch 8/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5041 - accuracy: 0.7520
Epoch 9/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4957 - accuracy: 0.7586
Epoch 10/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4889 - accuracy: 0.7613
Epoch 11/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4854 - accuracy: 0.7635
Epoch 12/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4792 - accuracy: 0.7665
Epoch 13/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4757 - accuracy: 0.7706
Epoch 14/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4715 - accuracy: 0.7700
Epoch 15/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4707 - accuracy: 0.7720
Epoch 16/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4680 - accuracy: 0.7692
Epoch 17/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4640 - accuracy: 0.7793
Epoch 18/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4671 - accuracy: 0.7755
Epoch 19/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4624 - accuracy: 0.7788
Epoch 20/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4595 - accuracy: 0.7769
Epoch 21/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4572 - accuracy: 0.7837
Epoch 22/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4578 - accuracy: 0.7793
Epoch 23/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4559 - accuracy: 0.7848
Epoch 24/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4545 - accuracy: 0.7796
Epoch 25/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4524 - accuracy: 0.7823
Epoch 26/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4508 - accuracy: 0.7848
Epoch 27/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4515 - accuracy: 0.7875
Epoch 28/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4544 - accuracy: 0.7780
Epoch 29/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4491 - accuracy: 0.7883
Epoch 30/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4482 - accuracy: 0.7941
Epoch 31/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4474 - accuracy: 0.7864
Epoch 32/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.7900
Epoch 33/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4452 - accuracy: 0.7932
Epoch 34/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4469 - accuracy: 0.7891
Epoch 35/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4444 - accuracy: 0.7900
Epoch 36/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4449 - accuracy: 0.7883
Epoch 37/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4457 - accuracy: 0.7883
Epoch 38/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4404 - accuracy: 0.7954
Epoch 39/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4425 - accuracy: 0.7883
Epoch 40/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.7902
Epoch 41/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4396 - accuracy: 0.7911
Epoch 42/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4381 - accuracy: 0.7916
Epoch 43/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4376 - accuracy: 0.7938
Epoch 44/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.7902
Epoch 45/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4364 - accuracy: 0.7913
Epoch 46/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4385 - accuracy: 0.7938
Epoch 47/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4347 - accuracy: 0.7921
Epoch 48/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.7973
Epoch 49/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4344 - accuracy: 0.7908
Epoch 50/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4337 - accuracy: 0.7946
classification report:
               precision    recall  f1-score   support

           0       0.73      0.72      0.73       192
           1       0.75      0.77      0.76       216

    accuracy                           0.75       408
   macro avg       0.74      0.74      0.74       408
weighted avg       0.74      0.75      0.74       408

In [26]:
df5=df4.copy()

In [27]:
count_value_0,count_value_1=df5['Exited'].value_counts()

In [28]:
df_class_0= df5[df5['Exited']==0]
df_class_1=df5[df5['Exited']==1]

In [29]:
df_class_over_1= df_class_1.sample(count_value_0,replace= True)

In [30]:
df_test_under=pd.concat([df_class_over_1,df_class_0],axis=0)

In [31]:
x=df_test_under.drop(['Exited'],axis='columns')
y=df_test_under['Exited']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
448/448 [==============================] - 1s 1ms/step - loss: 0.5977 - accuracy: 0.6753
Epoch 2/50
448/448 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7368
Epoch 3/50
448/448 [==============================] - 1s 2ms/step - loss: 0.5047 - accuracy: 0.7527
Epoch 4/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4934 - accuracy: 0.7567
Epoch 5/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4839 - accuracy: 0.7617
Epoch 6/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4770 - accuracy: 0.7670
Epoch 7/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4736 - accuracy: 0.7690
Epoch 8/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4693 - accuracy: 0.7706
Epoch 9/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4652 - accuracy: 0.7720
Epoch 10/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4633 - accuracy: 0.7723
Epoch 11/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4591 - accuracy: 0.7755
Epoch 12/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4576 - accuracy: 0.7749
Epoch 13/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4563 - accuracy: 0.7760
Epoch 14/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4538 - accuracy: 0.7784
Epoch 15/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4517 - accuracy: 0.7801
Epoch 16/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4501 - accuracy: 0.7783
Epoch 17/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4477 - accuracy: 0.7815
Epoch 18/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4479 - accuracy: 0.7834
Epoch 19/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4450 - accuracy: 0.7839
Epoch 20/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.7862
Epoch 21/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4418 - accuracy: 0.7860
Epoch 22/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4408 - accuracy: 0.7879
Epoch 23/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4395 - accuracy: 0.7865
Epoch 24/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4392 - accuracy: 0.7850
Epoch 25/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4363 - accuracy: 0.7885
Epoch 26/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4344 - accuracy: 0.7893
Epoch 27/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.7890
Epoch 28/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4329 - accuracy: 0.7913
Epoch 29/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7930
Epoch 30/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4313 - accuracy: 0.7931
Epoch 31/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4291 - accuracy: 0.7936
Epoch 32/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7946
Epoch 33/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4270 - accuracy: 0.7954
Epoch 34/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4267 - accuracy: 0.7968
Epoch 35/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4257 - accuracy: 0.7952
Epoch 36/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.7966
Epoch 37/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4226 - accuracy: 0.7987
Epoch 38/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4211 - accuracy: 0.7978
Epoch 39/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4200 - accuracy: 0.8001
Epoch 40/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7989
Epoch 41/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4188 - accuracy: 0.8023
Epoch 42/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4184 - accuracy: 0.7996
Epoch 43/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4162 - accuracy: 0.8014
Epoch 44/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.8023
Epoch 45/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8028
Epoch 46/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8039
Epoch 47/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8062
Epoch 48/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8033
Epoch 49/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8025
Epoch 50/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.8028
classification report:
               precision    recall  f1-score   support

           0       0.84      0.75      0.79       839
           1       0.75      0.84      0.79       754

    accuracy                           0.79      1593
   macro avg       0.79      0.79      0.79      1593
weighted avg       0.79      0.79      0.79      1593

In [33]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [35]:
x=df2.drop(['Exited'],axis='columns')
y= df2['Exited']

KeyError: "['Exited'] not found in axis"