in this notebook we saw how to check F1 score and how to solve this problem and checj accurecy , we use over sampling and under sampling mathode to  make F1 score

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
from tensorflow import keras

In [6]:
df=pd.read_csv('F:/deep learning/code basic/Churn_Modelling 1.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
df1=df.drop (['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
df1.dtypes

CreditScore          int64
Geography           object
Gender               int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [9]:
df1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [10]:
df2= pd.get_dummies(df1['Geography'])

In [11]:
df3= pd.concat([df1,df2],axis=1)

In [12]:
df3

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [13]:
df4=df3.drop(['Geography'],axis=1)

In [14]:
df4

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [15]:
colu_to_scaled=['CreditScore','Age','Tenure','EstimatedSalary','Balance']
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df4[colu_to_scaled]=scaler.fit_transform(df4[colu_to_scaled])

In [16]:
x=df4.drop(['Exited'],axis=1)
y=df4['Exited']

In [17]:
from sklearn.metrics import confusion_matrix,classification_report

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)

In [19]:
def ANN (x_train,y_train,x_test,y_test,loss):
    

    model=keras.Sequential([
        keras.layers.Dense(40,input_shape=(12,),activation='relu'),
    
        keras.layers.Dense(40,activation='relu'),
        keras.layers.Dense(1,activation='sigmoid')])
    model.compile(
                 optimizer='adam',
                 loss='binary_crossentropy',
                metrics=['accuracy'])
    model.fit(x_train,y_train,epochs=50)
    
    y_pred=model.predict(x_test)
    y_pred=np.round(y_pred)
    print ("classification report: \n", classification_report(y_test,y_pred))
                                                              
    return y_pred

In [20]:
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
282/282 [==============================] - 1s 2ms/step - loss: 0.4886 - accuracy: 0.7954
Epoch 2/50
282/282 [==============================] - 0s 2ms/step - loss: 0.4502 - accuracy: 0.8049
Epoch 3/50
282/282 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.8128
Epoch 4/50
282/282 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8261
Epoch 5/50
282/282 [==============================] - ETA: 0s - loss: 0.3837 - accuracy: 0.83 - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8356
Epoch 6/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8443
Epoch 7/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8503
Epoch 8/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8518
Epoch 9/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3513 - accuracy: 0.8540
Epoch 10/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8552
Epoch 11/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8579
Epoch 12/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8569
Epoch 13/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3430 - accuracy: 0.8570
Epoch 14/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8587
Epoch 15/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8607
Epoch 16/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8598
Epoch 17/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8614
Epoch 18/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8604
Epoch 19/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8606
Epoch 20/50
282/282 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8597
Epoch 21/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8601
Epoch 22/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8604
Epoch 23/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8632
Epoch 24/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8630
Epoch 25/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8619
Epoch 26/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8614
Epoch 27/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8619
Epoch 28/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8638
Epoch 29/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8618
Epoch 30/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8646
Epoch 31/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8647
Epoch 32/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3283 - accuracy: 0.8624
Epoch 33/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3290 - accuracy: 0.8673
Epoch 34/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3280 - accuracy: 0.8648
Epoch 35/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8654
Epoch 36/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8662
Epoch 37/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3275 - accuracy: 0.8670
Epoch 38/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8644
Epoch 39/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3267 - accuracy: 0.8646
Epoch 40/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3263 - accuracy: 0.8643
Epoch 41/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3251 - accuracy: 0.8659
Epoch 42/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8663
Epoch 43/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8661
Epoch 44/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3251 - accuracy: 0.8641
Epoch 45/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8659
Epoch 46/50
282/282 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8663
Epoch 47/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3238 - accuracy: 0.8654
Epoch 48/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3232 - accuracy: 0.8650
Epoch 49/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3222 - accuracy: 0.8657
Epoch 50/50
282/282 [==============================] - 0s 1ms/step - loss: 0.3250 - accuracy: 0.8644
classification report:
               precision    recall  f1-score   support

           0       0.88      0.97      0.92       789
           1       0.80      0.48      0.60       211

    accuracy                           0.86      1000
   macro avg       0.84      0.73      0.76      1000
weighted avg       0.86      0.86      0.85      1000

# under sampling

In [21]:
df4['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [22]:
count_value_0,count_value_1=df4['Exited'].value_counts()

In [23]:

df_class_0= df4[df4['Exited']==0]
df_class_1=df4[df4['Exited']==1]

In [24]:
df_class_under_0= df_class_0.sample(count_value_1)

In [25]:
df_test_under=pd.concat([df_class_under_0,df_class_1],axis=0)

In [26]:
df_test_under

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
5465,0.594,0,0.310811,0.1,0.342397,3,1,0,0.945832,0,0,1,0
3472,0.488,1,0.297297,0.9,0.487916,2,0,1,0.954447,0,1,0,0
3649,0.494,1,0.310811,0.4,0.610599,1,1,1,0.460438,0,1,0,0
6695,0.592,0,0.202703,0.2,0.000000,2,0,0,0.991077,0,1,0,0
7488,0.376,0,0.324324,0.4,0.320370,1,1,0,0.596081,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9981,0.296,1,0.324324,0.3,0.605982,1,1,1,0.267193,1,0,1,0
9982,0.610,0,0.378378,0.7,0.546617,1,1,0,0.575729,1,0,1,0
9991,0.494,0,0.472973,0.4,0.352259,1,1,0,0.346899,1,1,0,0
9997,0.718,0,0.243243,0.7,0.000000,1,0,1,0.210390,1,1,0,0
9998,0.844,1,0.324324,0.3,0.299226,2,1,0,0.464429,1,0,1,0

In [27]:
x=df_test_under.drop(['Exited'],axis='columns')
y=df_test_under['Exited']

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)

In [29]:
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
115/115 [==============================] - 0s 2ms/step - loss: 0.6655 - accuracy: 0.6118
Epoch 2/50
115/115 [==============================] - 0s 2ms/step - loss: 0.6167 - accuracy: 0.6604
Epoch 3/50
115/115 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6871
Epoch 4/50
115/115 [==============================] - 0s 2ms/step - loss: 0.5639 - accuracy: 0.7122
Epoch 5/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5508 - accuracy: 0.7245
Epoch 6/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5402 - accuracy: 0.7286
Epoch 7/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5294 - accuracy: 0.7343
Epoch 8/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5225 - accuracy: 0.7400
Epoch 9/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5173 - accuracy: 0.7488
Epoch 10/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5099 - accuracy: 0.7463
Epoch 11/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7515
Epoch 12/50
115/115 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7542
Epoch 13/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4984 - accuracy: 0.7553
Epoch 14/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4926 - accuracy: 0.7608
Epoch 15/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4891 - accuracy: 0.7594
Epoch 16/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4869 - accuracy: 0.7649
Epoch 17/50
115/115 [==============================] - 0s 1ms/step - loss: 0.4867 - accuracy: 0.7627
Epoch 18/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4844 - accuracy: 0.7649
Epoch 19/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4801 - accuracy: 0.7643
Epoch 20/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4802 - accuracy: 0.7632
Epoch 21/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4776 - accuracy: 0.7706
Epoch 22/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4778 - accuracy: 0.7676
Epoch 23/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4745 - accuracy: 0.7720
Epoch 24/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4748 - accuracy: 0.7684
Epoch 25/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4750 - accuracy: 0.7692
Epoch 26/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4701 - accuracy: 0.7690
Epoch 27/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4694 - accuracy: 0.7709
Epoch 28/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4705 - accuracy: 0.7679
Epoch 29/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4682 - accuracy: 0.7739
Epoch 30/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4691 - accuracy: 0.7720
Epoch 31/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4673 - accuracy: 0.7739
Epoch 32/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4672 - accuracy: 0.7720
Epoch 33/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4643 - accuracy: 0.7771
Epoch 34/50
115/115 [==============================] - ETA: 0s - loss: 0.4652 - accuracy: 0.77 - 0s 2ms/step - loss: 0.4650 - accuracy: 0.7766
Epoch 35/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4624 - accuracy: 0.7761
Epoch 36/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4635 - accuracy: 0.7747
Epoch 37/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4654 - accuracy: 0.7703
Epoch 38/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4599 - accuracy: 0.7728
Epoch 39/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4601 - accuracy: 0.7788
Epoch 40/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4586 - accuracy: 0.7818
Epoch 41/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4591 - accuracy: 0.7791
Epoch 42/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4586 - accuracy: 0.7815
Epoch 43/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4608 - accuracy: 0.7771
Epoch 44/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4589 - accuracy: 0.7796
Epoch 45/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4571 - accuracy: 0.7788
Epoch 46/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4589 - accuracy: 0.7799
Epoch 47/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.7829
Epoch 48/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4557 - accuracy: 0.7842
Epoch 49/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4550 - accuracy: 0.7785
Epoch 50/50
115/115 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.7829
classification report:
               precision    recall  f1-score   support

           0       0.71      0.84      0.77       192
           1       0.83      0.69      0.75       216

    accuracy                           0.76       408
   macro avg       0.77      0.77      0.76       408
weighted avg       0.77      0.76      0.76       408

In [26]:
df5=df4.copy()

# over sampling

In [27]:
count_value_0,count_value_1=df5['Exited'].value_counts()

In [28]:
df_class_0= df5[df5['Exited']==0]
df_class_1=df5[df5['Exited']==1]

In [29]:
df_class_over_1= df_class_1.sample(count_value_0,replace= True)

In [30]:
df_test_under=pd.concat([df_class_over_1,df_class_0],axis=0)

In [31]:
x=df_test_under.drop(['Exited'],axis='columns')
y=df_test_under['Exited']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)
y_pred=ANN(x_train,y_train,x_test,y_test,'binary_crossentropy')

Epoch 1/50
448/448 [==============================] - 1s 1ms/step - loss: 0.5977 - accuracy: 0.6753
Epoch 2/50
448/448 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7368
Epoch 3/50
448/448 [==============================] - 1s 2ms/step - loss: 0.5047 - accuracy: 0.7527
Epoch 4/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4934 - accuracy: 0.7567
Epoch 5/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4839 - accuracy: 0.7617
Epoch 6/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4770 - accuracy: 0.7670
Epoch 7/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4736 - accuracy: 0.7690
Epoch 8/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4693 - accuracy: 0.7706
Epoch 9/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4652 - accuracy: 0.7720
Epoch 10/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4633 - accuracy: 0.7723
Epoch 11/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4591 - accuracy: 0.7755
Epoch 12/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4576 - accuracy: 0.7749
Epoch 13/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4563 - accuracy: 0.7760
Epoch 14/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4538 - accuracy: 0.7784
Epoch 15/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4517 - accuracy: 0.7801
Epoch 16/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4501 - accuracy: 0.7783
Epoch 17/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4477 - accuracy: 0.7815
Epoch 18/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4479 - accuracy: 0.7834
Epoch 19/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4450 - accuracy: 0.7839
Epoch 20/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.7862
Epoch 21/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4418 - accuracy: 0.7860
Epoch 22/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4408 - accuracy: 0.7879
Epoch 23/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4395 - accuracy: 0.7865
Epoch 24/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4392 - accuracy: 0.7850
Epoch 25/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4363 - accuracy: 0.7885
Epoch 26/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4344 - accuracy: 0.7893
Epoch 27/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.7890
Epoch 28/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4329 - accuracy: 0.7913
Epoch 29/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7930
Epoch 30/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4313 - accuracy: 0.7931
Epoch 31/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4291 - accuracy: 0.7936
Epoch 32/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7946
Epoch 33/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4270 - accuracy: 0.7954
Epoch 34/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4267 - accuracy: 0.7968
Epoch 35/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4257 - accuracy: 0.7952
Epoch 36/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.7966
Epoch 37/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4226 - accuracy: 0.7987
Epoch 38/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4211 - accuracy: 0.7978
Epoch 39/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4200 - accuracy: 0.8001
Epoch 40/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7989
Epoch 41/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4188 - accuracy: 0.8023
Epoch 42/50
448/448 [==============================] - 1s 1ms/step - loss: 0.4184 - accuracy: 0.7996
Epoch 43/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4162 - accuracy: 0.8014
Epoch 44/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.8023
Epoch 45/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8028
Epoch 46/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8039
Epoch 47/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8062
Epoch 48/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8033
Epoch 49/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8025
Epoch 50/50
448/448 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.8028
classification report:
               precision    recall  f1-score   support

           0       0.84      0.75      0.79       839
           1       0.75      0.84      0.79       754

    accuracy                           0.79      1593
   macro avg       0.79      0.79      0.79      1593
weighted avg       0.79      0.79      0.79      1593